biosource=hematopoietic multipotent progenitor cell
extra_metadata_1=dataset:m_hema_weizmann_s2014_hi
extra_metadata_2=samplename:m_hema_weizmann_s2014_hi_MPP
extra_metadata_3=short_name:MPP
extra_metadata_4=organism:mus musculus
extra_metadata_5=cell_type:Multipotent Progenitor (MPP)
extra_metadata_6=biosource:hematopoietic multipotent progenitor cell
extra_metadata_7=CL_ID:CL_0000837
extra_metadata_8=cell_identification:Lin- c-Kit+ Sca-1+ Flk2+ CD34+
extra_metadata_9=cell_lineage:hematopoietic progenitor cells
extra_metadata_10=strain:C57BL/6
extra_metadata_11=publication:David Lara-Astiaso et al., Science Vol. 345 no. 6199: 943-949
extra_metadata_12=publication_DOI:10.1126/science.1256271
extra_metadata_13=institute:Weizmann Institute of Science Israel