name=m_hema_weizmann_s2014_hi_ST-HSC
biosource=short term hematopoietic stem cell
extra_metadata_1=dataset:m_hema_weizmann_s2014_hi
extra_metadata_2=short_name:ST-HSC
extra_metadata_3=organism:mus musculus
extra_metadata_4=cell_type:Short Term Hematopoietic Stem Cell (ST-HSC)
extra_metadata_5=biosource:short term hematopoietic stem cell
extra_metadata_6=CL_ID:CL_0002033
extra_metadata_7=cell_identification:Lin- c-Kit+ Sca-1+ Flk2- CD34+
extra_metadata_X=cell_lineage:hematopoietic progenitor cells
extra_metadata_8=strain:C57BL/6
extra_metadata_X=publication:David Lara-Astiaso et al., Science Vol. 345 no. 6199: 943-949
extra_metadata_X=publication_DOI:10.1126/science.1256271
extra_metadata_X=institute:Weizmann Institute of Science Israel