name=m_hema_dkfz_csc2014_ex_MPP2
biosource=hematopoietic multipotent progenitor cell
extra_metadata_1=dataset:m_hema_dkfz_csc2014_ex
extra_metadata_2=name:MPP2
extra_metadata_3=organism:mus musculus
extra_metadata_4=sex:female
extra_metadata_5=cell_type:hematopoietic multipotent progenitor cell
extra_metadata_6=CL_ID:CL:0000837
extra_metadata_7=Comment.ENA_SAMPLE.:ERS399646;ERS399651;ERS399653
extra_metadata_8=Provider:Trumpp's lab
extra_metadata_9=Characteristics.strain.:C57BL/6J
extra_metadata_10=Characteristics.genotype.:wild type genotype
extra_metadata_11=Characteristics.cell.type.:multipotent progenitor cell, fraction 2
