name=m_hema_dkfz_csc2014_ex_HSC
biosource=hematopoietic stem cell
extra_metadata_1=dataset:m_hema_dkfz_csc2014_ex
extra_metadata_2=name:HSC
extra_metadata_3=organism:mus musculus
extra_metadata_4=sex:female
extra_metadata_5=cell_type:hematopoietic stem cell
extra_metadata_6=CL_ID:CL:0000037
extra_metadata_7=Comment.ENA_SAMPLE.:ERS399654;ERS399648;ERS399642;ERS399645
extra_metadata_8=Provider:Trumpp's lab
extra_metadata_9=Characteristics.strain.:C57BL/6J
extra_metadata_10=Characteristics.genotype.:wild type genotype
extra_metadata_11=Characteristics.cell.type.:hematopoietic stem cells
