biosource=CD4-positive helper T cell
extra_metadata_1=dataset:m_hema_bock_mc2012_me
extra_metadata_2=name:CD4_2
extra_metadata_3=organism:mus musculus
extra_metadata_4=cell_type:T helper cell (CD4+)
extra_metadata_5=biosource:CD4-positive helper T cell
extra_metadata_6=CL_ID:CL:0000492
extra_metadata_7=cell_purification:CD4+, CD8-, Mac1-, GR1-, B220-, Ter119-, PI-
extra_metadata_8=strain:C57BL/6
extra_metadata_9=replicate:2
extra_metadata_10=publication:Bock, C., Beerman, I., Lien, W.-H., Smith, Z. D., Gu, H., Boyle, P., et al. (2012). DNA methylation dynamics during in vivo differentiation of blood and skin stem cells. Molecular Cell, 47(4), 633-647. doi:10.1016/j.molcel.2012.06.019
extra_metadata_11=publication_doi:doi:10.1016/j.molcel.2012.06.019
extra_metadata_12=experiment_type:RRBS
