biosource=hepatocyte
extra_metadata_1=CL_ID:CL_0000182
extra_metadata_2=CELL_TYPE:hepatocyte
extra_metadata_3=DONOR_ETHNICITY:NA
extra_metadata_4=DONOR_SEX:female
extra_metadata_5=DONOR_HEALTH_STATUS:non steatotic (metastasis sigma carcinoma)
extra_metadata_6=BIOMATERIAL_TYPE:primary cell
extra_metadata_7=DISEASE:none
extra_metadata_8=MARKERS:none
extra_metadata_9=DONOR_ID:41_Hf03
extra_metadata_10=BIOMATERIAL_PROVIDER:Klinikum Uni Regensburg
extra_metadata_11=DONOR_AGE:70 yrs
extra_metadata_12=ORGANISM:Homo sapiens
extra_metadata_13=POOL:no