biosource=hepatocyte
extra_metadata_1=CL_ID:CL_0000182
extra_metadata_2=COMMENT:NA
extra_metadata_3=CELL_TYPE:hepatocyte
extra_metadata_4=DONOR_ETHNICITY:NA
extra_metadata_5=DONOR_SEX:female
extra_metadata_6=DONOR_HEALTH_STATUS:non steatotic (liver adenome, liver hemangioma)
extra_metadata_7=BIOMATERIAL_TYPE:primary cell
extra_metadata_8=DISEASE:none
extra_metadata_9=MARKERS:none
extra_metadata_10=DONOR_ID:41_Hf01
extra_metadata_11=BIOMATERIAL_PROVIDER:Charite-Berlin (Campus Virchow Klinikum)
extra_metadata_12=DONOR_AGE:28 yrs
extra_metadata_13=ORGANISM:Homo sapiens
extra_metadata_14=SORTING_PARAMETERS:none
extra_metadata_15=POOL:no