biosource=monocyte
extra_metadata_1=CL_ID:CL_0000576
extra_metadata_2=STATUS:control
extra_metadata_3=COMMENT:Apo E3/E3 genotype
extra_metadata_4=CELL_TYPE:monocyte
extra_metadata_5=DONOR_ETHNICITY:caucasian
extra_metadata_6=DONOR_SEX:male
extra_metadata_7=DONOR_HEALTH_STATUS:healthy
extra_metadata_8=BIOMATERIAL_TYPE:primary cell
extra_metadata_9=DISEASE:none
extra_metadata_10=MARKERS:Flow scatter analysis
extra_metadata_11=STRAIN:NA
extra_metadata_12=DONOR_ID:Hm05
extra_metadata_13=PASSAGE_IF_EXPANDED:NA
extra_metadata_14=BIOMATERIAL_PROVIDER:Stefan Wallner / Regensburg University Hospital
extra_metadata_15=DONOR_AGE:25
extra_metadata_16=ORGANISM:Homo sapiens
extra_metadata_17=SORTING_PARAMETERS:NA
extra_metadata_18=POOL:no