biosource=macrophage derived foam cell
extra_metadata_1=CL_ID:CL_0000517
extra_metadata_2=STATUS:loaded eLDL
extra_metadata_3=COMMENT:Apo E3/E3 genotype
extra_metadata_4=CELL_TYPE:macrophage
extra_metadata_5=DONOR_ETHNICITY:caucasian
extra_metadata_6=CULTURE_CONDITIONS:5d MCSF + 1d eLDL
extra_metadata_7=DONOR_SEX:male
extra_metadata_8=DONOR_HEALTH_STATUS:healthy
extra_metadata_9=BIOMATERIAL_TYPE:primary cell culture
extra_metadata_10=DISEASE:obesity
extra_metadata_11=MARKERS:NA
extra_metadata_12=STRAIN:NA
extra_metadata_13=DONOR_ID:Hm03
extra_metadata_14=PASSAGE_IF_EXPANDED:NA
extra_metadata_15=BIOMATERIAL_PROVIDER:Stefan Wallner / Regensburg University Hospital
extra_metadata_16=DONOR_AGE:31
extra_metadata_17=ORGANISM:Homo sapiens
extra_metadata_18=SORTING_PARAMETERS:NA
extra_metadata_19=POOL:no