biosource=central memory CD4-positive, alpha-beta T cell
extra_metadata_1=CL_ID:CL_0000904
extra_metadata_2=STATUS:NA
extra_metadata_3=COMMENT:from buffy coats
extra_metadata_4=CELL_TYPE:central memory CD4-positive, alpha-beta T cell
extra_metadata_5=DONOR_HEALTH_STATUS:healthy
extra_metadata_6=DONOR_ETHNICITY:NA
extra_metadata_7=DONOR_SEX:female
extra_metadata_8=BIOMATERIAL_TYPE:primary cell
extra_metadata_9=MOLECULE:NA
extra_metadata_10=DISEASE:none
extra_metadata_11=MARKERS:CD3+, CD4+, CD25neg, CD45RAneg, CD62L+
extra_metadata_12=STRAIN:NA
extra_metadata_13=DONOR_ID:NA
extra_metadata_14=BIOMATERIAL_PROVIDER:Julia Polansky-Biskup
extra_metadata_15=DONOR_AGE:NA
extra_metadata_16=ORGANISM:Homo sapiens
extra_metadata_17=SORTING_PARAMETERS:NA
extra_metadata_18=POOL:yes